<style> .navbar { display: none } </style>
<div class="card text-center mx-auto" style="width: 50%;" >
  <div class="card-body">
    <h1 class="card-title">Track Your Investments</h1>
    <p class="card-text"></p>
    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-warning" %>
    <%= link_to 'Sign In', new_user_session_path, class:"btn btn-warning" %>
  </div>
</div>


