/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 background-color: #b6d9ea;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bee5bf' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e1c808' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c0cf96' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23c7a71e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c9b574' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23aa8927' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3985f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%238b6d2b' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23d8775d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236b532c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23d4576a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23493b2a' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
 background-attachment: fixed;
 background-size: cover;